:root {
    --background-color: #F5F1E3;
    --first-primaer: #A8C686;
    --second-primaer: #2E6D36;
    --akzentfarbe: #8B5E3B;
    --font-color: #3B3B3B;
}

html, body {
    background-color: var(--background-color);
}
.header{
    background-color: var(--first-primaer);
    width: 101.4%;
    height: 30%;
    position: relative;
    bottom: 1%;
    left: -1%;
}
.header img {
    width: 10%;
    position: relative;
    left: 5%;

}

/*Navigation*/
.nav-container {
    width: 101%;
    height: 5%;
    background-color: var(--second-primaer);
    position: absolute;
    left: -1%;
}
.navigation {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 3%;
}
.nav-buttons {
    border: --first-primaer 1px solid;
    text-decoration: none;
    color: var(--first-primaer);
    width: 15%;
    margin-top: 0.7%;
}
.nav-buttons:hover {
    background-color: var(--first-primaer);
    color: var(--second-primaer);
}


.footer {
    background-color: var(--first-primaer);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 500%;
    left: 0%;
    
}
.footer img {
    width: 10%;
    position: relative;
    left: 85%;
}


/*Startseite*/
.miniVorschau {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /*perspective: 1000px;*/ /* Remove this if you don't want the 3D effect */
}

.miniVorschau img {
    height: 400%;
}
  
  /* This container is needed to position the front and back side */
  
.miniVorschau-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.miniVorschau:hover .miniVorschau-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.miniVorschau-front, .miniVorschau-back {
    position: absolute;
    width: 50%;
    height: 50%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.miniVorschau-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
.miniVorschau-back {
    background-color: #f5f1e386;
    color: var(--font-color);
    transform: rotateY(180deg);
    width: 100%;
    height: 200%;
    text-align: center;
    font-size: 2rem;
}
.miniVorschau-back p {
    position: relative;
    left: 5%;
    top: 30%;
    padding: 5%;
    padding-left: 10%;
}

.miniVorschauRezepte {
    position: absolute;
    left: 23%;
    top: 30%;
}
.miniVorschauGalerie {
    position: absolute;
    left: 43%;
    top: 30%;
}
.miniVorschauSuche {
    position: absolute;
    left: 63%;
    top: 30%;
}


/*#AnbauStartseite {
    position: relative;
    top: 20%;
}*/
#AnbauStartseite img {
    position: absolute;
    left: 5%;
    top: 80%;
    width: 15%;
}
#AnbauStartseite p {
    color: var(--font-color);
    font-size: 1.5rem;
    position: absolute;
    left: 25%;
    top: 90%;
}
#AnbauStartseite a {
    color: var(--font-color);
    font-size: 1.5rem;
    position: absolute;
    left: 25%;
    top: 100%;
}
#AnbauStartseite a:hover {
    color: var(--second-primaer);
}